* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

/*----------------------------*/

/* .App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.generalContainer {
  display: flex;
  flex-direction: row;
}

.weatherCard {
  text-align: center;
  margin-top:14vw;
  margin-left: 9vw;
  margin-right: 9vw;
  width: 35vw;
  height: 28vw;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 2vw;
  border-radius: 3vw;
  background: white;
  opacity: 75%;
}

h1 {
  margin-bottom: 2vw;
}

.temps {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5vw;
}

#temp {
  display: flex;
  flex-direction: column;
  width: 9vw;
  height: 9vw;
  margin-left: 11.5vw;
  margin-top: -9vw;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
   padding-top: 2.5vw;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background: white;
}

.button{
  padding-top: 2vw;
}

.degrees{
  position: absolute;
  margin-top: -5vw;
}

button {
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
  width: 9vw;
  height: 4.4vw;
  border: none;
  font-size: 1.2vw;
  background: rgb(143, 143, 143);
  background: linear-gradient(0deg, rgba(143, 143, 143, 0.48923319327731096) 0%, rgba(193, 193, 193, 0) 100%);
}

button:hover {
  background: rgb(143, 143, 143);
  background: linear-gradient(0deg, rgba(143, 143, 143, 0.7777485994397759) 0%, rgba(193, 193, 193, 0) 100%);
  cursor: pointer;
}

.location{
  font-size: 1.5vw;
  margin-top: 2vw;
}

.forecastHours {
  width: 20vw;
  font-size: 1vw;
  margin-top: 3vw;
  margin-left: 3vw;
 overflow-y: scroll;
height: 50vw;
background: none;
}

.forecastSection1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  text-align: center;
}

.forecastSection1>p:first-of-type + p {
  font-weight: bolder;
  margin-top: .5vw;
  margin-bottom: .5vw;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1vw;
  background-color: white;
  border-radius: 10px;
  opacity: 80%;
  font-size: 1.3vw;
}

.forecastIcon{
  width: 11vw;
}

.forecastDays {
  width: 20vw;
  font-size: 1.5vw;
  margin-top: 3vw;
 overflow-y: scroll;
height: 50vw;
background: none;
}

.map2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1vw;
  background-color: white;
  border-radius: 10px;
  opacity: 80%;
}

.forecastDaylySection1{
  text-align: center;
  padding-top: 1vw;
  font-weight: bolder;
  font-size: 1.5vw;
  }

.forecastDaylySection2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  align-items:center ;
  margin-left: 3vw;
}

.forecastDaylySection3{
  font-size: 1.2vw;
  margin-bottom: 1.5vw;
  }

.tempMinMax{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-evenly;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}

.info{
  margin-left: 2vw;
}